@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Grade Calculator: IS 413";
}

@model Assignment_2_Josiah_Sarles.Models.CalcModel 

<body>
    <div class="content row">
        <div class="column">
            <div class="pad">

            </div>
        </div class="column">
        <div class="column">
            <div class="pad ex_pad">
                <h2>Grade Calculator</h2>
                <form method="post">
                    <label>Assignments:</label>
                    <input asp-for="assignment" id="assignment" class="input">
                    <label>/50%</label>
                    <br><br>

                    <label>Group Projects:</label>
                    <input asp-for="group" id="group" class="input">
                    <label>/10%</label>
                    <br><br>

                    <label>Quizzez:</label>
                    <input asp-for="quiz" id="quiz" class="input">
                    <label>/10%</label>
                    <br><br>

                    <label>Exams:</label>
                    <input asp-for="exam" id="exam" class="input">
                    <label>/20%</label>
                    <br><br>

                    <label>INTEX:</label>
                    <input asp-for="intex" id="intex" class="input">
                    <label>/10%</label>
                    <br><br>

                    <input type="submit" id="btn1" value="CALCULATE"><br><br>
                    <input type="button" id="resetbtn" value="RESET"><br><br>
                    <div asp-validation-summary="All" id="errors">

                    </div>
                </form>
            </div>
        </div>
        <div class="column">
            <div class="pad">
                <h2>GPA Results</h2>
                <div>
                    <svg height="100" width="100" id="svg" class="svg_center">
                        <circle id="myCircle" cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="none"
                                display="none" />
                    </svg>
                    <br>
                    <p id="results" class="text_results"></p>
                </div>
            </div>
        </div>
     </div>
</body>