@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Josiah Sarles: Assignment #2";
}

<body>
    <div class="content row">
        <div class="column">
            <div class="pad">
                <h2>IS 413 Class</h2>
                <p>
                    In this class I hope to learn how to make web applications. This way, I can use that knowledge in my career to make awesome web applications or
                    as least know how it works, so I can make recommendation on what a good web application should work and look like.
                </p>

                <h2>Top 3 Jobs</h2>
                <p>
                    #1: Product Management
                    <br />
                    #2: Techincal Operations Management
                    <br />
                    #3: Software Engineering
                </p>
            </div>
        </div>
        <div class="column">
            <div class="pad ex_pad">
                
            </div>
        </div>
        <div class="column">
            <div class="pad">
               
            </div>
        </div>
    </div>
</body>
